@use "../../foundation/mixin";
@use "../../foundation/variables";
@use "sass:math";

.p-menu-button__close {
	display: inline-block;
	cursor: pointer;
	padding: 1rem;
	&__text {
		position: relative;
		&::before,
		&::after {
			content: "";
			position: absolute;
			top: 50%;
			left: 50%;
			width: 4.5rem;
			height: 0.6rem;
			background: variables.$color--dark-gray;
		}
		&::before {
			transform: translate(-50%, -50%) rotate(45deg);
		}
		&::after {
			transform: translate(-50%, -50%) rotate(-45deg);
		}
	}
	@include mixin.breakpoint(pc) {
		display: none;
	}
}

body.is-open {
	position: fixed;
	@include mixin.breakpoint(pc) {
		position: static;
	}
}