@use "../foundation/mixin";

.l-container {
    display: grid;
    width: 100%;
    grid-template-rows: 217px auto 150px;
    grid-template-columns: 1fr;
    @include mixin.breakpoint(pc) {
        grid-template-columns: 4fr 1fr;
    }    
}

.l-header {
    grid-column: 1;
    grid-row: 1;
}

.l-main {
    grid-column: 1;
    grid-row: 2;
}

.l-sidebar {
    grid-column: 1;
    @include mixin.breakpoint(pc) {
        display: block;
        grid-column: 2;
        grid-row: 1/3;
    }
}

.l-footer {
    grid-column: 1;
    grid-row: 3;
    @include mixin.breakpoint(pc) {
        grid-column: 1/3;
        grid-row: 3;
    }
}