@use "../foundation/variables";
@use "../foundation/mixin";


.l-main-visual {
    position: relative;
    width: 100%;
    height: 285px;
    @include mixin.breakpoint(pc) {
        height: 530px;
    }
    img {
        object-fit: cover;
        height: 100%;
        width: 100%;
    }
    h2 {
        position: absolute;
        top: 50%;
        left: 2.5rem;
        transform: translate(0,-50%);
        font-size:3.6rem;
        font-weight: 700;
        color: variables.$color--white;
        @include mixin.breakpoint(pc) {
            margin-left: 8.6rem;
            font-size: 4rem;
        }
    }
}

.l-branch-menu {
    margin: 2rem 2rem 5rem 2rem;
    @include mixin.breakpoint(tablet) {
        margin: 4rem;
    }
    @include mixin.breakpoint(pc) {
        margin: 7%;
    }
    ul {
        @include mixin.breakpoint(tablet) {
            display: flex;
            justify-content: center;
            column-gap: 4.1rem;
        }
        @include mixin.breakpoint(pc) {
            column-gap: 6%;
        }
        li {
            position: relative;
            margin-bottom: 2rem;
            @include mixin.breakpoint(tablet) {
                margin-bottom: 0;
            }
            img {
                object-fit: cover;
                width: 100%;
            }
            h3 {
                position: relative;
                position: absolute;
                top: 1.3rem;
                left: 1.5rem;
                font-family: "Roboto", sans-serif;
                font-size:4.1rem;
                line-height: 4.8rem;
                font-weight: 700;
                color: variables.$color--silver-gray;
                @include mixin.breakpoint(tablet) {
                    top: 1.4rem;
                    left: 1.1rem;
                    font-size: 4.4rem;
                    line-height: 5.2rem;
                }
                @include mixin.breakpoint(pc) {
                    top: 2.8rem;
                    left: 2.1rem;
                    font-size: 8rem;
                    line-height: 9.4rem;
                }
                &::after {
                    position: absolute;
                    content: " ";
                    display: block;
                    border-bottom: solid 4px variables.$color--white;
                    bottom: -2rem;
                    width: 3.4rem;
                    @include mixin.breakpoint(tablet) {
                        bottom: -3rem;
                        width: 3.6rem;
                    }
                    @include mixin.breakpoint(pc) {
                        bottom: -4rem;
                        width: 6.3rem;
                    }
                }
                span {
                    color: variables.$color--white;
                }
            }
            .l-menu-box {
                position: absolute;
                bottom: 0;
                dd {
                    max-height: 9.6rem;
                    overflow: hidden;
                }
            }                
        }
    }
}

.l-access {
    &__map {
        position: relative;
        width: 100%;
        height: auto;
        min-height: 30rem;
        background: variables.$color--black;
        padding: 4.2rem 4rem 5.7rem 4rem;
        @include mixin.breakpoint(tablet) {
            padding: 4.2rem 2.9rem 4rem 4.2rem;
        }
        @include mixin.breakpoint(pc) {
            padding: 8.6rem 47% 7.5rem 7.6%;
        }
        img {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 100%;
            height: 100%;
            object-fit: cover;
            transform: translate(-50%, -50%);
            opacity: 0.6;
            @include mixin.breakpoint(tablet) {
                width: 100%;
            }
        }
        &__overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            justify-content: center;
            z-index: 1;
            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 60%;
                background: rgba(0, 0, 0, 0.28);
                pointer-events: none; /* 透過塗りつぶしがクリックなどのイベントをブロックしないようにする */
                z-index: 2;
                @include mixin.breakpoint(tablet) {
                    display: none;
                }
                @include mixin.breakpoint(pc) {
                    display: block;
                    width: 60%;
                    height: 100%;
                }
            }
        }
    }
    &__text__wrap {
        color: variables.$color--white;
        font-weight: 700;
        overflow: hidden;
        height: auto;
        position: relative;
        z-index: 3; 
        h3 {
            margin: 0;
            position: relative;
            font-size: 3rem;
            line-height: 4.5rem;
            &::after {
                position: absolute;
                content: " ";
                display: block;
                border-bottom: solid 2px variables.$color--white;
                bottom: -0.3rem;
                width: 7.5rem;
            }
        }
        p {
            margin-top: 2.9rem;
            font-size: 1.4rem;
            line-height: 3.3rem;
            overflow: hidden;
            max-height: calc(3.3rem * 16);
        }
    }
}